*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #548687;
    text-align:center;

}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0.2);
    color: #b0413e;
    background-color: #ffffc7;
}

#resetbtn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color:#fff;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color:#fff;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display: none;
}